/* CSS Document */

body {
	
	
	margin:0;
	padding:0;
	font:normal 0.8em/1.2em verdana,aria,sans-serif;
	color:#000000;
	}
	

.grbox {
	border: 1px solid #000000;
	overflow: hidden;
	margin-top: 1%;
	position: relative;
	float: left;
	background-color: #DAEADA;
	background-color: #E3E3E3;
	width:100%;
		
	}

.grbox h1 {
	/*background: url('/images/greengrad.png') repeat-x;*/
	border-bottom: 1px solid;
	padding-left: 20px;
	margin: 0px;
	font-size: 1.25em;
	font-weight: normal;
	height: 20px;
	vertical-align: middle;
	padding-top: 5px;
	background-color: #ffffff;
	background-color: #008000;
	}	
	
.grbox p, li {
	padding-left: 2em;
	padding-right: 2em;
	
	padding-bottom: 10px;
	line-height: 20px;
	}
	
.grbox h1 a {
	text-decoration: none;
	color: #000000;
	}	
	
.grbox h1 a:hover {
	color: #ffffff;
	}	

.grbox a {text-decoration: underline;}
.grbox a:hover { color:#A52A2A;}
.grbox #mainlink li {list-style-type: none;} 	


.smallcol {	width: 28%;}	
.largecol {	width: 71%;	}
.halfcol {width: 49.5%;}
.largehalfleft {width: 35%;margin-left: .75%; float: left;}
.largehalfright {width: 35%;float: right;}
.right {float: right;}
.left {float: left;}
.clearboth {clear: both;}
.clearleft {clear:left;}
.noborder {border: none;}
.nobackcol {background-color:transparent;}
.border {border:1px solid;}
.scrolling {overflow-x: scroll;  overflow-y: hidden;}
.pictureheight{height:250px;}
.quote{ text-align: center; font-size: 1.1em;font-style: italic;}


#pets img {text-align: center; }
#pets p {text-align: center; font-size: 2em; padding: 0px;margin: 15px;}

#accommodation {position: relative;padding:0px;}
#accommodation img { float: left; }
#accommodation div {clear: both; padding-top: 2em;float: left; position: relative;}
#accommodation div > div {
	float: right;
	padding-left: 1em;
	padding-top: 0px;
	padding-left: 2em;
	}

#main {
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 20px;
	}
	
#logo {
	position: relative;
	float: left;
}

#header {
	border: 1px solid;
	position: relative;
	float: left;
	width: 100%;
	/*margin-bottom: 10px;*/
	
	}	
		
#title {
	padding-top: 30px;
	text-align: center;
	}
	
#menu {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	border-top: 1px solid #000000;
	padding: 0px !important;
	margin: 0px;
	background-color: #008000;
	}
	
#menu a {
	text-decoration: none;
	color: #000000;
	
	}

#menu a:hover {
	color: #FFFFFF;
	
	}	
#menu li {
	list-style-type: none;
	display: inline;
	padding-left: 0px;;
	padding-right: 20px;;
	padding-top: 0px;
	font-size: 1.5em;
	background-color:#008000; 
	text-align: left;
	
}


#footer {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

#availability table {
	font-size: 1em;
	padding:1em;
	background-color: #ffffff;
	}	
	
#availability tr {height: 3em;}

#availability th {
	color: #008000;
	text-align: left;
	}	
	

#visitors table {
	font-size: 1em;
	padding:1em;
	background-color: #ffffff;
	}	
	
#visitors tr {height: 3em;border-bottom: 1px solid;}

#visitors td {border-bottom: 1px solid;}

#visitors th {
	color: #008000;
	text-align: left;
	}	
	
			

