body {	
	font: 83% Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}

.main {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;*/
	font-size: 1em;
	line-height: 1.4em
}

.main a {
	color:#D48149;
}
strong {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	/*font-size: 1.1em;*/
}	

#mainlink ul{
	line-height: 1.8em;
	list-style-image: none;
	list-style-type:none;
	text-indent: -30pt;
}

.main select {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;*/
	font-size: 1.2em;
	line-height: 1em
}

.main input {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;*/
	font-size: 1.2em;
	line-height: 1em
}



#pics {
	font-family:"Kristen ITC";
	color:#D48149;
	font-size:.8em;
}


.mainsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: .8em;
	color:#D48149;

}



.mainbold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	/*font-size: 1.1em;*/
}
.titlequote {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	font-style: italic;
	color:#D48149;
}
.mainerror {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	color: #FF0000;
}
.highlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	/*color: #9C0264;*/
	color:#24ADCD;
	font-family:"Kristen ITC";
}
.tableheading {
	font-size: 1em;
	color: #840059;
	background-color: #FFBDEA;
	font-weight: bold;
}
.tablecell {
	font-size: 1em;
	color: #840059;
	background-color: #FFEAF9;
}
.tabledata {
	font-size: 1em;
	font-weight: normal;
}
.mainquote {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:"Kristen ITC";
	font-weight: normal;
	font-size: 1.5em;
	color:#24ADCD;
}

#mainmenu {
	width: 200px;
	margin: 5px 0px 0px 5px;
	padding:0px;
}
#mainmenu a {
	/*background-color: #E8ECFD;*/
	background-color:#E6EB9B;
	display: block;
	margin: 2px 8px 0px 6px;
	padding: 2px 5px;
	text-decoration: none;
	font-family:"Kristen ITC";
	font-size:1.5em;
	color:#24ADCD;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-weight: bold;*/
	/*font-size: 1.1em;*/
	/*color: #9C0264;*/
	}
	
#mainmenu a:hover{background-color: #B6C2F8;}	

.menusel{
	/*border: 2px ridge;*/
	
}

.menuthis{

	/*border: 8px ridge;*/
	font-weight:bold;
}

#button {
	margin: 0px;
	padding:0px;
}

#button a {
	display: block;
	margin: 0px 8px 0px 6px;
	padding: 2px 5px;
	text-decoration: none;
	font-family: Verdana;
	font-weight: bold;
	font-size: 1.1em;
	/*color: #9C0264;*/
	
	}
	
.buttonsel{
	border: 2px ridge;
}
#button a:hover{background-color: #CDD6FA;}	

.bctodo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #999999;
}
.bcdone {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #737373;
}
.bcdoing {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #737373;
	text-decoration: underline;
}
