<p>Island Retreat has been in our family for nearly 30 years and has been our holiday home from home for the last twelve. In the year 2000 we decided to open up its doors and allow other holiday makers to enjoy it to.</p>
<p>Since we first started letting we have made some major improvements. We decided to move the rear door from the side to the back in order to have some french doors opening out onto the garden. We have also replaced the kitchen/diner with a new modern one. Craig (Mr Nicholas) took two weeks off work to  replace the bathroom suite and re-tile it. He has had so many compliments about it since then that he is thinking of changing his job! </p>
<p>We always spend at least three weeks at the bungalow per year so we are in the best position to see it from your point of view. We also place great value on any comments you put in the visitor's book, so please if you have any comments, good or bad, we want to hear. </p>
<p>If you are spending time in our home from home this year, then we wish you a perfect holiday.</p>
<p>Yours</p>
<p>Meghan and Craig Nicholas (George &amp; Jack)</p>

