      <p>Island Retreat comfortably caters for 4 people.</p>
      <p><strong>The cottage benefits from:</strong> </p>
      <ul>
        <li>          Central heating</li>
        <li>          An enclosed rear garden with garden furniture</li>
        <li>          Safe off-road parking at the rear of the property</li>
      </ul>
      <p><strong>The lounge features: </strong><p>
       Two comfy sofas<br>
        28" wide screen TV<br>
        DVD/VCR machine<br>
        Freeview receiver for digital TV<br>
        Hi-fi<br>
        Dining table and chairs</p>
      <p><strong>The kitchen features:</strong><p>
  Double oven <br>
  Fridge/Freezer<br>
  Microwave<br>
  Dishwasher<br>
  Washing machine<br>
  Dining table &amp; chairs 

  <p><strong>The Master Bedroom features: </strong></p>
  Double Bed (brand new pocket sprung orthopedic mattress) <br>
  Wardrobe and&nbsp;chest of drawers <br>
  Bedside tables<br>
  Reading light
      <p><strong>Bedroom 2 features: </strong></p>
  2 single beds <br>
  Wardrobe and&nbsp;chest of drawers <br>
  Bedside table<br>
  Reading light
      <p><strong>The Bathroom features: </strong></p>
  Newly fitted white bathroom suite <br>
  Bath with power shower over </p>
      <p><em>Please note that linen is not included</em>
      <p>For additional information please <%= link_to "contact us", contact_path %></p>

