<div class="grbox largecol right">
	<h1>Availability & Booking</h1>
	<iframe src="http://cottagemaster.co.uk/availability.php?mid=1" width="100%" frameborder="0" title="Availability" height="1000px">
	</iframe>
</div>

<div class="grbox smallcol left noborder">
	<%= render 'layouts/pets' %>
</div>

<div class="grbox smallcol left">
	<%= render 'layouts/mailinglist' %>
</div>

