<p>
Island Retreat is a holiday bunglalow located in Binstead near Ryde on the Isle of Wight and is available for holiday rentals all year round and short breaks at selected periods.
</p>

<p>
'Island Retreat' is a single story detached bungalow which comfortably caters for four people. It has <strong>one double bedroom and one twin</strong> and has been described by many of its past <%= link_to "Visitors", visitors_book_path %> as 'home from home'.
</p>

<p>
Binstead is a quiet village in the northern part of the island and is a five minute drive away from Fishbourne car ferry terminal.</p>

<p>
The bungalow is ideal accommodation for all ages. The spacious garden is accessed by french doors from the kitchen and is fully enclosed. There is a large park with a children's playground at the back of the property, great for exercising pets (and children!). The bungalow is set a long way back from a very quiet residential road.
</p>
		<ul>
			<li>comfortably caters for 4 people</li>
			<li>located in a quiet residential area</li>
			<li>set back from the road and backs onto a park with a children's play area </li>
			<li>recently replaced kitchen/diner with french doors opening onto the garden 			
			<li> spacious enclosed garden with patio and garden furniture</li>
			<li> recently replaced bathroom including a bath with power shower over </li>
			<li> all mod-cons including wide screen TV and DVD player  
			<li>five minute drive from  Ryde beach and Fishbourne car ferry terminal</li>
			<li>local shop, pub and post office within walking distance of the property </li>
			<li>allocated parking</li>
			<li>centrally heated </li>
			<li>pets are welcome (dog bed is supplied) </li>
			<li>no smoking allowed within the property </li>
		</ul>

		<div id="mainlink">
			<ul>
		  	<li><%= link_to "View the accommodation", accommodation_path %></li>
	      <li><%= link_to "Find out about the local area", local_information_path %></li>
		  	<!--<li><a href="availability.php?<?php echo SID?>">Check availability and book accommodation</a>.</li> -->
		  </ul>
		</div>
        
<p><%= link_to "Click here", "#"%> for frequently asked questions. </p>
			<p>For further information or for availability queries please email Meghan at 
			<script language="JavaScript">
document.write('<a h'+'ref="m'+'ailt'+'o:'+'%69%6e%66%6f%40%69%73%6c%61%6e%64%72%65%74%72%65%61%74%2e%63%6f%2e%75%6b">&#105;&#110;&#102;&#111;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#114;&#101;&#116;&#114;&#101;&#97;&#116;&#46;&#99;&#111;&#46;&#117;&#107;<\/a>');
</script>
			</p>
			<p>or call 01444 239645</p>
			
<p>
I will try to answer your query as soon as possible but if you need to know availability immediately join my mailing list below and it will be emailed to you automatically.
<p>
