<div class="grbox smallcol left noborder">
	<%= render 'layouts/pets' %>
</div>
 
<div class="grbox largecol right">
	<%= render 'layouts/location' %>  
</div> 
 
<div id="faq" class="grbox smallcol left clearleft">
	<h1>Frequently Asked Questions</h1>
	<%= render 'layouts/faq' %> 
</div>
 
 <div class="grbox largecol right">
 	<%= render 'layouts/local_information' %>
</div>
