 <div class="grbox largecol right">
 	<%= render 'layouts/local_information' %>
</div>

 <div class="grbox smallcol left noborder">
     <%= render 'layouts/pets' %>
</div>


<div id="faq" class="grbox smallcol left">
	<h1>Frequently Asked Questions</h1>
	<%= render 'layouts/faq' %> 
 </div>
