<p>
The change over day is Saturday for weekly bookings. Short breaks are available in low season and may start on Friday, Saturday, Sunday or Monday.
</p>

<p>
Up to two pets are welcome, and the charge is £10.00 per pet.
</p>

<p>
Bookings are held for 7 days until a 20% deposit is received. Full payment must be made 8 weeks before the booking date. The deposit is unrefundable.
</p>

<p>
The breakages deposit is £100 per week which will be refunded when the property has been checked and found to be in a satisfactory state.
</p>

<p>Island Retreat is open all year.</p>

<!-- <p><a href="<?php echo $cm ?>/avlpage.php?id=1&<?php echo SID ?>">Check Availability</a></p> -->
<p><%= link_to "Check Availability", contact_path %></p>


<iframe src="http://cottagemaster.co.uk/rates.php?mid=1" width="100%" frameborder="0" title="Rates for 2011" height="300px"></iframe>
