<div class="grbox">
<h1>Terms of Service</h1>
<p><strong>Our contract </strong></p>
		<p>When you place a booking with islandretreat.co.uk you will receive an email confirming availability and price. A booking made through the website will be held for a maximum of seven days until either a deposit or full payment is received. Full payment must be received at least six weeks before the arrival date after which time islandretreat reserves the right to re-advertise the holiday and all monies paid by the customer will be forfeited.</p>
		<p>Islandretreat endeavors to provide you with accommodation as described within the website and in full working order. In the unlikely event that this is not possible due to breakages or breakdowns that have occured during a previous rental period, we will make an assessment as to whether we can provide you with accommodation that meets your expectations, if not then a full refund will be applied. </p>
		<p><strong>Cancellations</strong></p>
		<p>Once a booking has been placed any payment made to islandretreat to secure the booking is non-refundable. In the event that islandretreat cancels a booking a full refund will be applied. </p>
		<p><strong>Pricing and Availability </strong></p>
		<p>We list availability on the website. This is as accurate as we can possibly make it but we reserve the right to refuse a booking on the grounds of unavailability despite the website stating the contrary. We may advertise holidays elsewhere at a different price to that advertised on the website. Once we have accepted a booking the price is fixed. </p>
		<p><strong>Privacy </strong></p>
		<p>Please review our <%= link_to "Privacy Notice", privacy_path %> , which also governs your visit to islandretreat.co.uk, to understand our practices. </p>
		<p><strong>Licence for website access </strong></p>
		<p>Islandretreat,co.uk grants you a limited licence to access and make personal use of this website, but not to download (other than page caching) or modify it, or any portion of it, except with express written consent of islandretreat.co.uk. This licence does not include any resale or commercial use of this website or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this website or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. </p>
		<p>This website or any portion of this website may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without our express written consent. </p>
		<p>You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of islandretreat.co.uk without express written consent. You may not use any meta tags or any other "hidden text" utilising islandretreat.co.uk's without the express written consent of islandretreat.co.uk. Any unauthorised use terminates the permission or license granted by islandretreat.co.uk. </p>
		<p><strong>Your conduct </strong></p>
		<p>You must not use the website in any way that causes, or is likely to cause, the website or access to it to be interrupted, damaged or impaired in any way. </p>
		<p>You understand that you, and not islandretreat.co.uk, are responsible for all electronic communications and content sent from your computer to us and you must use the website for lawful purposes only. </p>
</div>
