<p>Island Retreat has been very busy this year, we are looking forward to welcoming many of our regular guests back in 2011.</p>

<table border="1" cellpadding="8">


  <% @visitors.each do |v| %>
  <tr>
    <td><%= v.date %></td>
    <td><%= v.comment %></td>
  </tr>
  <% end %>


</table>
      

