<div>

	<div>
		<h3>Island Retreat</h3> 

		<strong>A detached bungalow:</strong>
		<ul>
			<li>Peaceful surroundings</li>
			<li>Private and enclosed rear garden with patio and garden furniture</li>
			<li>Safe off-road parking at the rear of the property</li>
		</ul>
	</div>
	
	<img src="/photos/P1010838.JPG" />

</div>



<div>

	<div>

		<h3>The Rear Garden</h3> 

		<strong>Fully enclosed spacious rear garden</strong> 

		<ul>
			<li>Sun patio</li>
			<li>Picnic table and chairs</li>
			<li>Safe off-road parking behind the garden</li>
		</ul>

	</div>
	
	<img src="/photos/P1010840.JPG" />
	
</div>

<div>

	<div>
		<h3>The Lounge/Diner</h3> 

		<strong> 
		Comfortable carpeted lounge overlooking the rear garden
		</strong> 

		<ul>
			<li>Two comfy sofas</li>
			<li>28" wide screen TV</li>
			<li>DVD/VCR machine</li>
			<li>Freeview receiver for digital TV</li>
			<li>Hi-fi</li>
			<li>Dining table and chairs</li>
		</ul>
	</div>
	
	<img src="/photos/P1010829.JPG" />
	
</div>

<div>
	
	<div>

		<h3>Kitchen/Diner</h3> 

		<strong>Fully fitted modern kitchen/diner	</strong> 

		<ul>
			<li>Double oven </li>
			<li>Fridge/Freezer</li>
			<li>Microwave</li>
			<li>Dishwasher</li>
			<li>Washing machine</li>
			<li>Dining table &amp; chairs </li>
		</ul>
	</div>
	<img src="/photos/P1010859.JPG" />
</div>

<div>
	<div>

		<h3>Double Bedroom</h3> 

		<strong> 
		Bedroom with double bed
		</strong> 

		<ul>
			<li>Double Bed</li>
			<li>Wardrobe and chest of drawers </li>
			<li>Bedside tables</li>
			<li>Reading lights</li>
		</ul>
	</div>
	
	<img src="/photos/P1010827.JPG" />
	
</div>

<div>

	<div>

		<h3>Twin bedroom</h3> 

		<strong> 
		Bedroom with twin beds
		</strong> 

		<ul>
			<li>2 single beds </li>
			<li>Wardrobe and chest of drawers</li>
			<li>Bedside table</li>
			<li>Reading light</li>
		</ul>				
	</div>
	<img src="/photos/P1010822.JPG" />
</div>

<div>

	<div>

		<h3>At the back of the property</h3>

		<strong>
		Park with playground
		</strong>

		<ul>
			<li>Perfect for pet walking </li>
			<li>Children's park</li>
			<li>No roads to cross to get there</li>
		</ul>
	</div>
	<img src="/photos/P1010847.JPG" />
</div>
