<%= stylesheet_link_tag 'scrollable-vertical.css', :media => 'screen' %>

<!-- HTML structures --> 
<div id="actions"> 
	<a class="prev">&laquo; Back</a> 
	<a class="next">More pictures &raquo;</a> 
</div> 
 
<!-- root element for scrollable --> 
<div class="scrollable vertical"> 

	<!-- root element for the items --> 
	<div class="items"> 

		<div> 


			<div class="item"> 
				<img src="/photos/front.jpg" />

				<h3>Island Retreat</h3> 

				<p><strong>The cottage benefits from:</strong> </p>
				<ul>
				<li>          Central heating</li>
				<li>          An enclosed rear garden with garden furniture</li>
				<li>          Safe off-road parking at the rear of the property</li>
				</ul>


			</div> 


			<div class="item"> 
				<img src="/photos/garden.jpg" />
	
				<h3>The Garden</h3> 

				<strong> 
				Fully enclosed spacious back garden
				</strong> 

				<ul>
				<li>          Sun patio</li>
				<li>          Picnic table and chairs</li>
				<li>          Safe off-road parking behind the garden</li>
				</ul>


			</div> 


			<div class="item"> 
				<img src="/photos/lounge.jpg" /> 

				<h3>The Lounge/Diner</h3> 

				<strong> 
				Comfortable carpeted lounge overlooking the rear garden
				</strong> 

				<ul>
				<li>Two comfy sofas</li>
				<li>28" wide screen TV</li>
				<li>DVD/VCR machine</li>
				<li>Freeview receiver for digital TV</li>
				<li>Hi-fi</li>
				<li>Dining table and chairs</li>
				</ul>


			</div> 


		</div> 

		<!-- next page --> 
		<div> 
			<div class="item"> 
				<img src="/photos/kitchen.jpg" /> 

				<h3>Kitchen/Diner</h3> 

				<strong> 
				Fully fitted modern kitchen/diner
				</strong> 

				<ul>
				<li>Double oven </li>
				<li>Fridge/Freezer</li>
				<li>Microwave</li>
				<li>Dishwasher</li>
				<li>Washing machine</li>
				<li>Dining table &amp; chairs </li>
				</ul>

			</div> 


				<div class="item"> 
				<img src="/photos/double.jpg" />

				<h3>Double Bedroom</h3> 

				<strong> 
				Bedroom with double bed
				</strong> 

				<ul>
				<li>Double Bed</li>
				<li>Wardrobe and chest of drawers </li>
				<li>Bedside tables</li>
				<li>Reading lights</li>
				</ul>

			</div> 


			<div class="item"> 
				<img src="/photos/twin.jpg" />

				<h3>Twin bedroom</h3> 

				<strong> 
				Bedroom with twin beds
				</strong> 

				<ul>
				<li>2 single beds </li>
				<li>Wardrobe and chest of drawers</li>
				<li>Bedside table</li>
				<li>Reading light</li>
				</ul>				

			</div> 


		</div> 



	</div> 
	
</div> 
 
 
<!-- javascript coding --> 
<script> 
// execute your scripts when DOM is ready. this is a good habit
$(function() {		
		
	// initialize scrollable with mousewheel support
	$(".scrollable").scrollable({ vertical: true, mousewheel: true });	
	
});
</script> 
