        

            <div id="myGallery">

                <div class="imageElement">
                    <h3>Front of Island Retreat</h3>
                    <p>Set back from the road</p>
                    <a href="mypage1.html" title="open image" class="open"></a>
                    <img src="images/front.jpg" class="full" />
                    <img src="images/front.jpg" class="thumbnail" />
                </div>

                <div class="imageElement">
                    <h3>Back Garden</h3>
                    <p>Fully enclosed (offroad parking behind)</p>
                    <a href="mypage2.html" title="open image" class="open"></a>
                    <img src="images/garden.jpg" class="full" />
                    <img src="images/garden.jpg" class="thumbnail" />
                </div>


                <div class="imageElement">
                    <h3>Kitchen</h3>
                    <p>Beautifully fitted modern kitchen diner</p>
                    <a href="mypage2.html" title="open image" class="open"></a>
                    <img src="images/kitchen.gif" class="full" />
                    <img src="images/kitchen.gif" class="thumbnail" />
                </div>


                <div class="imageElement">
                    <h3>Lounge</h3>
                    <p>Lounge with comfy sofas and wide screen TV</p>
                    <a href="mypage2.html" title="open image" class="open"></a>
                    <img src="images/lounge.jpg" class="full" />
                    <img src="images/lounge.jpg" class="thumbnail" />
                </div>


                <div class="imageElement">
                    <h3>Double Bedroom</h3>
                    <p>Comfy double bed</p>
                    <a href="mypage2.html" title="open image" class="open"></a>
                    <img src="images/double.jpg" class="full" />
                    <img src="images/double.jpg" class="thumbnail" />
                </div>


                <div class="imageElement">
                    <h3>Twin Bedroom</h3>
                    <p>Two single beds</p>
                    <a href="mypage2.html" title="open image" class="open"></a>
                    <img src="images/twin.jpg" class="full" />
                    <img src="images/twin.jpg" class="thumbnail" />
                </div>
            </div>

