<div id="headercol1"><%= link_to logo, root_path %></div>
<div id="headercol2">
<p>"'Island Retreat' is a proper treat! Great bungalow and facilities, just suited us for a relaxing and enjoyable holiday. Thank you. Denney Party" 
<%=link_to "more ...", visitors_book_path%>
</p>
</div>

