<h1><%= link_to "Latest Availability", availability_path %></h1>
<p>This is the latest availability for 2011 at Island Retreat. <%= link_to "Book Up Now", availability_path %></p>
<p>Island Retreat is fully booked for the summer until October. See below for autumn and winter holiday dates. If you would like to book a short break check the <%= link_to "availability page", availability_path %> for more information.</p>

<div id="availability">

<table><th>Start Date</th><th>End Date</th><th>Price</th></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 8th October 2011</td><td>Saturday 15th October 2011</td><td>£280.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 15th October 2011</td><td>Saturday 22nd October 2011</td><td>£280.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 5th November 2011</td><td>Saturday 12th November 2011</td><td>£200.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 12th November 2011</td><td>Saturday 19th November 2011</td><td>£200.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 19th November 2011</td><td>Saturday 26th November 2011</td><td>£200.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 26th November 2011</td><td>Saturday 3rd December 2011</td><td>£200.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 3rd December 2011</td><td>Saturday 10th December 2011</td><td>£200.00</td></tr><tr onMouseOver="this.className='highlight';" onMouseOut="this.className='';" ><td>Saturday 10th December 2011</td><td>Saturday 17th December 2011</td><td>£200.00</td></tr></table>  

</div>
