<h1>Location</h1>
<p>'Island Retreat' is in a village called 'Binstead' on the north east part of the Isle of Wight. It is a five minute drive from Ryde and from Fishbourne/Portsmouth ferry terminal.
</p>
<p>Not only is the bungalow a great base from which to explore the island, there are also some beautiful walks nearby.
</p>
<p>Take a leisurely wander through the grounds of Quarr Abbey or an evening stroll down to Binstead beach.
</p>
<p>Ryde is walkable (20-30 mins) if you don't mind the hill coming back.</p>
<p>Or, for some quick exercise open the back gate and in less than a minute you are in Binstead's recreation ground.</p>

